/*Style général du site*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90badd;
}


/* Style de la page critiques.html (Fait par Isabelle J-T) */

/* Style de base de la page*/
.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
}

/*Style de la section Gestion des critiques*/
.topbar {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0px;

    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Style de la section des actions (bouton de déconnexion et lien vers la liste complète)*/
.actions {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
    gap:40px;
    
}

/*Style du formulaire d'ajout de critique*/
#formAjout{
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.EnsembleCritiques {
    width: 100%;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: black solid 1px;
    margin-top: 20px;
}


/*Style de la page listeCritiques.html (Fait par Isabelle J-T)*/


/*Style de la section de la table*/
.EnsembleListeCritiques {
    width: 100%;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: black solid 1px;
    margin-top: 20px;
}


/*Page de connexion (Léane)*/
.fondEcran{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
}
#formulaireConnexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.conteneur{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#boutonConnecter{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}
#nomUtilisateur{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}
#motDePasse{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

/*Page d'accueil (Léane)*/ 
.pageAccueil{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/*Page jeux.html (Léane)*/
.pageJeux{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
}
.containerJeux{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formAjout{
    padding: 1em;
}
.tableauJeux{
    width: 80%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    border: black solid 1px;
}
.actionsJeux{
    margin-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/*Page editJeux.html (Léane)*/
.pageEditJeux{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.actionsEditJeux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.enteteEditJeux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.conteneurEditJeux{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Page listeJeux.html (Léane)*/
.pageListeJeux{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enteteListeJeux{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionListeJeux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.listeJeux{
    width: 250%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    border: black solid 1px;
}
.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* css par Axel */

.bodyUtilisateur{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyUtilisateur .topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    background-color: #fff;
}

.tableauUtilisateurs{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: black solid 1px;
}

.formAjoutUtilisateur{
    padding: 1em;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.formAjoutUtilisateur input{
    padding: 0.5em;
    border-radius: 10px;
    border: none;
}

.tableauListeUtilisateurs{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: black solid 1px;
    margin: 20px;
}

.bodyListeUtilisateurs{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
}

.listeUtilisateurs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.listeUtilisateurs .topbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    background-color: #fff;
}

.bodyEditUtilisateur{
    background-color: #90badd;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyEditUtilisateur .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyEditUtilisateur .topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    background-color: #fff;
}

.formEditUtilisateurs{
    padding: 1em;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.formEditUtilisateurs input{
    padding: 0.5em;
    border-radius: 10px;
    border: none;
}